# PostgreSQL
DB_USER=postgres
DB_PASSWORD=mypassword
DB_HOST=postgres
DB_PORT=5432
DB_NAME=youlogix_db


# Fast API
APP_NAME="YouLogiX API"
DEBUG=True
API_V1_STR="/api/v1"


#openssl rand -hex 32
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30